h3 {
  color: #464b54;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

h4 {
  color: #aaa;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.content-width {
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
  padding-inline: 40px;
  box-sizing: border-box;
}

.heading {
  width: 100%;
  padding-top: 56px;
  display: flex;
  justify-content: center;
}
.module {
  width: 100%;
  min-width: 500px;
  padding-block: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.module ul {
  margin-left: 20px;
}
.module ul li {
  list-style: disc;
}
.module .two-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.module .two-columns ul li {
  padding: 20px;
}
.module .two-columns p {
  padding-block: 10px;
}
.module .two-columns div {
  width: 50%;
}
.module .two-columns div:first-child {
  margin-right: 30px;
}
.module .two-columns div:last-child {
  margin-left: 30px;
}

.legal-document {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.legal-document .module {
  padding-block: 50px;
}
.legal-document h2 {
  color: #222;
  margin-block: 30px 15px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.4px;
}
.legal-document h5 {
  color: #555;
  margin-block: 15px 10px;
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
}
.legal-document p {
  color: #666;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.4px;
}
.legal-document a {
  color: #666;
  text-decoration-color: #666;
  text-decoration: underline;
}
.legal-document span {
  color: #555;
  font-weight: 600;
}
.legal-document ul {
  margin-bottom: 10px;
  line-height: 1.5;
}
.legal-document ul li {
  color: #666;
  margin-left: 20px;
  padding: 4px;
  font-size: 14px;
  list-style: square;
}
.legal-document ul li ul {
  margin-top: 10px;
  margin-left: 20px;
}
.legal-document table {
  color: #444;
  border-collapse: collapse;
  font-size: 15px;
}
.legal-document table th {
  border: 1px solid #666;
}
.legal-document table td {
  height: 60px;
  padding-inline: 3px;
  border: 1px solid #666;
}
.legal-document table td:nth-child(2) {
  width: 52%;
}
.legal-document table td:nth-child(3) {
  width: 15%;
  text-align: center;
}
.legal-document .go-to {
  scroll-margin-top: 60px;
  scroll-padding-top: 60px;
}
