#map svg {
  width: 100%;
  height: 100%;
  fill: hsl(232, 9%, 71%);
}
#map svg path {
  stroke: hsl(232, 9%, 60%);
  stroke-width: 0.7;
}
#map svg path:hover {
  fill: hsl(210, 78%, 60%);
  stroke: hsl(210, 78%, 60%);
}
#map svg .MS,
#map svg .ISL {
  fill: hsl(232, 9%, 80%);
}
#map svg .MS path,
#map svg .ISL path {
  stroke: hsl(232, 9%, 46%);
  stroke-width: 0.4;
}
#map svg .CON {
  pointer-events: none;
  stroke-width: 0;
}
