@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*:focus {
  outline: 0;
}

input::-webkit-inner-spin-button {
  appearance: none;
}
input::-webkit-outer-spin-button {
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px hsla(210, 78%, 60%, 0.1) inset, 0 0 0 1px hsl(232, 9%, 90%);
}

input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px hsla(210, 78%, 60%, 0.1) inset, 0 0 0 1px hsla(210, 78%, 60%),
    0 0 0 3px hsla(210, 78%, 60%, 0.3);
}

/* Any component with className .sm-screen below 850px screen width will not be displayed */
@media (max-width: 850px) {
  .supported-width {
    display: none;
  }
}

/* Any component with className .unsupported-width abowe 850px screen width will not be displayed */
@media (min-width: 850px) {
  .unsupported-width {
    display: none;
  }
}
