@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*:focus {
  outline: 0;
}

input::-webkit-inner-spin-button {
  appearance: none;
}
input::-webkit-outer-spin-button {
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px hsla(210, 78%, 60%, 0.15) inset;
}
